.test{
color:red;
background: blue; 
font-size: 50px; 
margin: 0;
}

.btn-color{
    color:green;
}

.color-style {
  color: greenyellow;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 5px;
  margin: 0px;
}


